/* div {
    border: 1px solid green;
} */


html {
    font-size: 18px;
    line-height: 1.4;
    font-family: Helvetica;
}

body {
    margin: 0;
    top:0;
}
.container {
    width: 960px;
    margin: 0 auto;
}


header {
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .logo {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    height: 1.5rem;
}

header .logo span {
    margin-left:1rem;
}

header nav span {
    margin-left:2rem;
}

header nav span a {
    color: white;
    text-decoration: none;
}

header nav span.menu-btn {
    display: none;
}

.flex {
    display: flex;
}

.banner {
    padding-top: 1rem;
    height: 30rem;
    background-image: url("../img/glasses-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .flex {
    justify-content: flex-end;
}

.banner .box {
    margin-top: 10rem;
    margin-right: -2rem;
    padding: 1.5rem 5rem;
    display: inline-block;
    /* float: right; */

    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;

}


main .flex {
    flex-direction: column;
}



/* FEATURES */
main .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .features .feature {
    height: 8rem;
    margin: 3rem 3rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main .features .feature .papericon {
    width: 3.5rem;
}

main .features .feature img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1rem;
}


/* STICKERS */
main .stickers {
    flex-direction: row;
}

main .stickers .sticker {
    width: 35%;
    margin-left: 5%;
}
main .stickers .sticker .title {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.25rem ;
}

main .stickers .sticker p {
    margin-top: 1rem;
}




/* FOOTER */
footer {
    background-color: azure;
    padding: 4rem;
    margin-top: 5rem;
}

footer img {
    height: 1.5rem;
}

footer span {
    margin-left: 1rem;
}


@media only screen and (max-width: 768px) {
    /* tablet portrait */
    .container {
        width: 100%;
    }

    .banner {
        height: 22rem;
    }

    .banner {
        padding-top: 0;
    }

    .banner .box {
        margin-right: 2rem;
        padding: 0.75rem 4rem;
        font-size: 1.33rem;
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 480px) {
    /* PHONE */

    .banner {
        height: 17rem;
        background-position: 20%;
    }

    header nav span {
        display: none;
    }

    header nav span.menu-btn {
        display: initial;
    }

    .banner .box {
        width: 100%;
        padding: 1rem auto;
        text-align: center;
        margin-top: 9rem;
        margin-right: 0;
    }

    .main {
        margin-top: 3.77rem;
        margin-bottom: 3.77rem;
    }

    main .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .features .feature {
        margin: 1.54rem 0;
        font-size: 0.77rem;
    }

    main .stickers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .stickers .sticker {
        width: 100%;
        margin-bottom: 4rem;
        margin-left: 0;
    }

    main .stickers .sticker p {
        font-size: 0.77rem;
    }

    footer img {
        display: block;
        margin: auto;
    }

    footer span {
        display: none;
    }
}